.BookNowModal {
  padding: var(--spacing) var(--spacing) calc(var(--spacing) * 2) var(--spacing);
  max-width: var(--mobile-breakpoint);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 0.9);
}

.BookNowModal > p.text {
  font-size: 1rem;
}

.selector-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.selector-button {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  text-align: left;
  background-color: rgb(244, 244, 244);
  border: none;
  border-radius: 24px;
  padding: 16px 22px;
  transition: all 0.3s ease-in-out;
}

.selector-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
