h4.headline {
  padding: 0 1rem;
}

div.collection {
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 0 1rem;
  gap: 1rem;
}

img.photo {
  width: 300px;
  height: calc(300px * 6 / 4);
  object-fit: cover;
  border-radius: 16px;
}
