.gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.collection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.photo {
  width: 400px;
  height: calc(400px * 6 / 4);
  object-fit: cover;
  border-radius: 16px;
}

@media only screen and (max-width: 432px) {
  .photo {
    width: 100%;
    height: calc(100vw * 6 / 4);
  }
}
