div.card {
  flex: 1;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 20px;
  border-radius: 30px;
}

div.card > h1.title {
  display: inline;
  font-size: 62px;
  line-height: 72px;
  font-weight: 900;
}

div.card > h4.headline {
  font-size: 17px;
  font-weight: 600;
}

.Pill,
.Button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  color: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  border: none;
  padding: 12px;
  margin-top: 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Pill:hover,
.Button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.Option {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(240, 240, 240);
  transition: all 0.2s ease-in-out;
}

.Option:hover {
  background-color: rgb(240, 240, 240);
}
