div.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: var(--spacing);
  transition: padding 0.2s ease-in-out;
}

div.card {
  flex: 1;
  min-width: 100%;
  padding: calc(var(--spacing) * 1.125);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  border-radius: 24px;
}

@media screen and (max-width: 430px) {
  div.cards {
    padding: var(--spacing);
  }
}

@media screen and (min-width: 430px) {
  div.cards {
    padding: var(--spacing) 0px;
  }
}
