div.collection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

div.collection::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

div.headline {
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span.type {
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
}

span.room {
  font-weight: bolder;
  font-size: 15px;
  line-height: 15px;
}

img.photo {
  width: 300px;
  height: calc(300px * 6 / 4);
  object-fit: cover;
  object-position: 0% 0%;
}

img.instagram {
  width: 23px;
  height: 23px;
  object-fit: contain;
}
