div.collection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

div.collection::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

p.headline {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

div.photo-wrapper,
img.photo {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: 0% 0%;
}

div.photo-wrapper {
  scroll-snap-align: start;
  position: relative;
}

@media (max-width: 500px) {
  div.photo-wrapper,
  img.photo {
    width: 100vw;
    height: 100vw;
  }
}
