.modal-overlay,
.modal-overlay-visible {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-overlay {
  z-index: -2;
  opacity: 0;
}

.modal-overlay-visible {
  z-index: 2;
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}

.modal,
.modal-visible {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  opacity: 1;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
