.Page {
  margin: 0 auto;
}

@media screen and (max-width: 430px) {
  .Page {
    max-width: 100%;
  }
}

@media screen and (min-width: 430px) {
  .Page {
    max-width: var(--mobile-breakpoint);
  }
}
