form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

label {
  font-size: 1rem;
}

input[type='text'] {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: rgb(244, 244, 244);
}

Button[type='submit'] {
  width: 100%;
  color: white;
  background-color: black;
  font-size: 1rem;
  border-radius: 8px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

button[type='submit']:disabled {
  width: 100%;
  color: white;
  background-color: rgb(200, 200, 200);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  font-weight: 400;
  padding: 16px;
  border: none;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

input[type='checkbox'] {
  width: 3em;
  height: 3rem;
  accent-color: rgb(0, 0, 0);
  margin-bottom: auto;
}

.errorMessage {
  color: red;
  font-size: 1rem;
}
