@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --spacing-default: 1rem;
  --spacing-small: 0.75rem;
  --spacing-xSmall: 0.5rem;
  --spacing-xxSmall: 0.25rem;
  --font-size-default: 1rem;
  --border-width-default: 1px;
  --border-color: rgb(210, 210, 210);
  --background-default: rgb(240, 240, 240);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-size: var(--font-size-default);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

body {
  flex: 1;
}

footer {
  padding: var(--spacing-default);
  text-align: center;
  font-size: 0.9rem;
  color: rgb(87, 87, 87);
}

.form {
  padding: var(--spacing-default);
  gap: var(--spacing-default);
  display: flex;
  flex-direction: column;
}

.form input,
select {
  padding: var(--spacing-small);
  border-style: solid;
  border-color: var(--border-color);
  border-width: var(--border-width-default);
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-default {
  color: black;
  background-color: var(--background-default);
  padding: var(--spacing-small);
  cursor: pointer;
  border: none;
}

.button-outlined {
  color: black;
  background-color: white;
  padding: var(--spacing-small);
  cursor: pointer;
  border: 1px solid var(--border-color);
  transition: background-color 0.5s linear;
}

.button-outlined:hover {
  color: white;
  background-color: black;
}

.button-primary {
  color: white;
  background-color: black;
  padding: var(--spacing-small);
  cursor: pointer;
  border: none;
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: var(--spacing-small);
}

.button-group button {
  flex: 1;
}

.heading {
  font-size: 1.4rem;
  font-weight: 500;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--background-default);
}
