@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-bg-color: white;
  --main-txt-color: black;
  --main-border-color: rgb(241, 241, 241);
  --main-ig-color: rgb(140, 46, 177);
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  background-color: var(--main-bg-color);
}

.instagram {
  color: var(--main-ig-color);
}

.grid-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.grid-item {
  position: relative;
  overflow: hidden;
  padding-bottom: 177.77%; /* 9:16 aspect ratio */
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1300px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

header {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1rem;
  white-space: nowrap;
  overflow: auto;
  background-color: var(--main-bg-color);
  border-bottom: solid 0.5px var(--main-border-color);
}

a,
span {
  font-style: italic;
  font-size: 1rem;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

footer {
  padding: 1rem;
  color: var(--main-bg-color);
  background-color: var(--main-ig-color);
}

footer > a {
  font-size: 1rem;
  line-height: 1.6rem;
  color: var(--main-bg-color);
  background: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
