@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  background-color: black;
  display: grid;
  align-content: center;
}

.App {
  margin: auto;
  max-width: 1000px;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 2rem;
}

.poster {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  animation: blink 0.13s linear infinite;
}

.logo {
  margin: 0 auto;
  width: 200px;
  object-fit: contain;
}

p {
  font-size: medium;
}

@keyframes blink {
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0.9;
  }
}
