:root {
  --mobile-breakpoint: 430px;
  --spacing: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family:
    var(--font-roboto),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.TabBar {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--spacing);
}

a {
  text-align: left;
  display: block;
  text-decoration: none;
  text-align: center;
}

.invert-color {
  filter: invert(1);
}

div.separator {
  width: 100%;
  height: 1px;
  background-color: rgb(230, 230, 230);
}

img.social-media-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

a,
p {
  font-size: 16px;
  line-height: 24px;
}

p.price-label {
  display: inline;
  font-size: 62px;
  line-height: 72px;
  font-weight: 900;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.LinkButton {
  width: 100%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 12px 18px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.LinkButton:hover {
  background-color: rgba(255, 255, 255, 1);
}

.Pill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  width: 100%;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 18px;
  padding: 10px;
  margin-top: 14px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.Pill:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

h4 {
  font-size: 18px;
  margin-bottom: 6px;
}
