@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body,
.App {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  padding: 1rem;
  gap: 1rem;
}

header {
  width: 100%;
  padding: 4px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid rgb(239, 239, 239);
}

header img {
  object-fit: contain;
}

footer {
  width: 100%;
  color: rgb(161, 161, 161);
  border-top: 1px solid rgb(239, 239, 239);
  padding-top: 1rem;
}

footer p {
  font-size: 14px;
}

.instagram {
  cursor: pointer;
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.cell {
  flex: 1;
  width: 100%;
  min-width: 300px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h3 {
  font-size: 19px;
  line-height: 26px;
}

.section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

ul {
  margin-left: 1rem;
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

.bg-yellow {
  background-color: #efe7d3;
}

.bg-purple {
  background-color: #ece3f0;
}

.bg-baby-blue {
  background-color: #e7f2f8;
}

.bg-icy-blue {
  background-color: #dce1e9;
}

.bg-tea-green {
  background-color: #ddf8e8;
}

.bg-gray {
  background-color: rgb(246, 246, 246);
}

.pricing-card {
  border-radius: 1rem;
  padding: 1rem;
}

.pricing-card li {
  font-size: 15px;
  line-height: 23px;
}

.pricing-label {
  font-size: 70px;
  line-height: 70px;
  font-weight: 600;
}

.pricing-headline {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.pricing-book-now {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.card {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.card h4 {
  font-size: 15px;
  line-height: 23px;
  font-weight: 600;
}

.card p,
li {
  font-size: 15px;
  line-height: 23px;
}

.base {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.base::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
