* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.grid {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.cell {
  flex: 1;
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
}

@media only screen and (max-width: 900px) {
  .grid {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .cell {
    width: 100%;
    min-width: auto;
    max-width: 100%;
  }
}

.cell .text,
li {
  font-size: 15px;
  line-height: 23px;
}

h3 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

ul {
  margin-left: 1rem;
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

.bg-yellow {
  background-color: #f1ead0;
}

.bg-purple {
  background-color: #ece3f0;
}

.bg-baby-blue {
  background-color: #cfebf3;
}

.bg-icy-blue {
  background-color: #dbe3f0;
}

.bg-tea-green {
  background-color: #ddf8e8;
}

.bg-light-pink {
  background-color: #f4dfe6;
}

.bg-banana-green {
  background-color: #e8f4d4;
}

.bg-gray {
  background-color: rgb(246, 246, 246);
}

.pricing-label {
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
}

.pricing-off {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
}

.pricing-book-now {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
