:root {
  --mobile-breakpoint: 430px;
  --spacing: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family:
    var(--font-roboto),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(253, 253, 253);
}

.TabBar {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--spacing);
}

a {
  text-align: left;
  display: block;
  text-decoration: none;
  text-align: center;
}

.invert-color {
  filter: invert(1);
}

div.separator {
  width: 100%;
  height: 1px;
  background-color: rgb(230, 230, 230);
}

img.social-media-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

a,
p {
  font-size: 16px;
  line-height: 24px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.LinkButton {
  width: 100%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 12px 18px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.LinkButton:hover {
  background-color: rgba(255, 255, 255, 1);
}

h4 {
  font-size: 18px;
  margin-bottom: 6px;
}

.SocialCard {
  overflow: hidden;
  border: none;
  border-radius: 32px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 8px 1px rgb(235, 235, 235);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.SocialLink {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border: none;
  border-radius: 32px;
  transition: all 0.3s;

  &:hover {
    background-color: rgb(235, 235, 235);
  }
}

.PageHeaderLogo {
  object-fit: contain;
  width: auto;
  height: 66px;
  margin: 0 auto;
}

.DirectionCard {
  width: 100%;
  border-radius: 64px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 2px 1px rgb(235, 235, 235);
  padding: 1rem 2rem;
  text-align: left;
  color: rgb(59, 59, 59);
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    background-color: rgb(233, 233, 233);
  }
}
