.selector-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.selector-button {
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-align: left;
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 16px;
  padding: 16px;
  transition: all 0.3s ease-in-out;
}

.selector-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
