.session {
  padding: 1rem;
  text-align: left;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(230, 230, 230);
  transition: background-color 0.1s ease-in-out;
}

.session:hover {
  background-color: rgb(230, 230, 230);
}

.session > h1 {
  font-size: 1.7rem;
}
