.session {
  padding: 1rem;
  text-align: left;
  background-color: rgb(240, 240, 240);
  color: black;
  border: none;
  transition: background-color 0.1s ease-in-out;
  border-radius: 12px;
  margin: 16px 16px 0 16px;
}

.session:hover {
  background-color: rgb(220, 220, 220);
}

.session > h1 {
  font-size: 27px;
}
